.spinner-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(192, 192, 192, 0.7);

    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    display: block;
    height: 3em;
    width: 3em;
    border: 10px solid rgba(87, 176, 221, 0.3);
    border-top-color: var(--card-color-main);
    border-radius: 50%;
    animation: rotation 0.5s infinite linear;
  }

.message {
  font-size: 1.3em;
  font-weight: bold;
  color: #0E0E2E;
}
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(359deg);
    }
  }