.table-container {
    overflow-x: auto;
}
.table {
    width: 100%;
    border-spacing: 0px;
}

.table thead tr:first-child {
    background-color: var(--card-color-main);
    border-radius: 2.5px;
}

.table tr.df td:nth-child(1), .table tr.df th:nth-child(1) { flex: .5 }
.table tr.df td:nth-child(2), .table tr.df th:nth-child(2) { flex: 2 }
.table tr.df td:nth-child(3), .table tr.df th:nth-child(3) { flex: 2 }
.table tr.df td:nth-child(4), .table tr.df th:nth-child(4) { flex: 5 }
.table tr.df td:nth-child(5), .table tr.df th:nth-child(5) { flex: 3 }
.table tr.df td:nth-child(6), .table tr.df th:nth-child(6) { flex: 4 }
.table tr.df td:nth-child(7), .table tr.df th:nth-child(7) { flex: 2 }
.table tr.df td:nth-child(8), .table tr.df th:nth-child(8) { flex: 2 }
.table tr.df td:nth-child(9), .table tr.df th:nth-child(9) { flex: 1 }

.table th {
    text-align: initial;
    color: var(--text-color-light);
    padding: 10px 20px;
    font-size: .9em;
}

.table tbody {
    background-color:#57b0dd28;
}

.table td {
    border-bottom: 1px solid rgba(87, 176, 221, 0.2);
    padding: 10px 20px;
    color: var(--text-color-dark);
    font-size: 1em;
    font-weight: 500;
}

.table tbody tr:hover {
    background-color:  rgba(101, 100, 101, 0.01);
}


.list ul {
    list-style-type: none;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 0px 10px 0px;
}

.list ul li {
    display: flex;
    /* padding: 10px 10px 10px 10px; */
}

.list ul li:first-child div:first-child {
    border-top-left-radius: 2.5px;
}

.list ul li:last-child div:first-child {
    border-bottom-left-radius: 2.5px;
}

.list ul li:first-child div:last-child {
    border-top-right-radius: 2.5px;
}

.list ul li:last-child div:last-child {
    border-bottom-right-radius: 2.5px;
}

.list ul li div:first-child {
    flex: .4;
    background-color: var(--card-color-main);
    color: var(--text-color-light);
    padding: 10px 20px;
    font-size: .9em;
    border-bottom: 1px solid rgba(87, 176, 221, 0.2);
}

.list ul li div:last-child {
    flex: .6;
    background-color:#57b0dd28;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(101, 100, 101, 0.1)
    
}